<div class="container" *ngFor="let item of cartArr" >
    <div class="row my-3 rounded p-2 border border-dark">
        <div class="col-2">
            <img src={{item.image}} alt="" style="width:100px;" class="me-2">
        </div>
        <div class="col-4">
            <h5 class="me-5">{{item.productName}}</h5> 
            <p>{{item.vendorName}}</p>
        </div>
        <div class="col-3 d-flex">
            <h6 class="">{{item.quatity}} x </h6> 
            <h6 class="">{{item.price}}</h6> 
        </div>
        <div class="col-2">
            <h6 class="text-primary">{{item.quatity*item.price}}</h6>
        </div>
        <div class="col-1">
            <button type="button" class="btn" (click)="delete(item.id)">
                <h5 class="text-danger">
                    <i class="fa-solid fa-trash-can"></i>
                </h5>
            </button>
        </div>
    </div>
</div>

<div class="container" *ngIf="cartArr.length>0">
    <div class="row my-3 rounded p-2 border border-waring">
        <div class="col-12">
            <h4 class="text-success text-end"> = {{sum}}</h4>
        </div>
    </div> 
</div>
