<!-- Catogery tab -->
<div class="card-top container">
  <div class="container d-flex py-3">
    <div class="nav-item dropdown ms-4">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Categories
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="filter('')">All Products</a></li>
        <li><a class="dropdown-item" (click)="filter('2')">Mobile</a></li>
        <li><a class="dropdown-item" (click)="filter('3')">Laptop</a></li>
        <li><a class="dropdown-item" (click)="filter('4')">TWS</a></li>
        <li><a class="dropdown-item" (click)="filter('6')">Smart Watch</a></li>
        <li><a class="dropdown-item" (click)="filter('1')">Fasion</a></li>
        <li><a class="dropdown-item" (click)="filter('5')">Books</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- Header-->
<header class="">
    <div class="container-fluid">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../../assets/images/maincar1.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar2.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar3.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar4.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar6.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar7.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar8.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar9.PNG" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="../../../assets/images/maincar10.PNG" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div *ngFor="let product of filterCategory | filter:searchKey:'productName'" class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" style="height:300px;" src={{product.image}} alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.productName}}</h5>
                            <!-- Product price-->
                            ₹{{product.price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="products/view-product/{{product.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>